//----------- General -------------//

.projection-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 50% 160px;
    grid-template-rows: 1fr;
    align-items: start;

    .projection-main-chart {
        grid-column: 1 / 3;
    }

    .list-scroller {
        grid-column: 3 / 4;
    }
}


.item-container {
    max-width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item-image {
    border-radius: 12px;
    max-width: 70px;
}

.item-info {
    display: flex;
    align-items: center;
}

.item-info-description {
    display: flex;
    flex-direction: column;
}

.item-info-price {
    display: flex;
    flex-direction: column;
}


//------------ Metas --------------//



//--------- Completadas -----------//

.goal-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 160px);
    align-items: baseline;
    gap: 1rem;
}

.goal-closed {
    cursor: pointer;
}

