.create-button {
    width: 100px;
    margin-right: 1rem;
}

//--------- Completadas -----------//

.goal-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 160px);
    align-items: baseline;
    gap: 1rem;
}

.goal-closed {
    cursor: pointer;
}